[submodule "nodejs-zoom-clone"]
	path = nodejs-zoom-clone
	url = https://github.com/simorgh10/nodejs-zoom-clone.git
[submodule "Try-Django-2.2"]
	path = Try-Django-2.2
	url = https://github.com/simorgh10/Try-Django-2.2.git
[submodule "Django-on-Docker"]
	path = Django-on-Docker
	url = https://github.com/simorgh10/Django-on-Docker.git
[submodule "Asynchronous-JavaScript-Tutorial-Net-Ninja"]
	path = Asynchronous-JavaScript-Tutorial-Net-Ninja
	url = https://github.com/simorgh10/Asynchronous-JavaScript-Tutorial-Net-Ninja.git
[submodule "wildfire-tracker"]
	path = wildfire-tracker
	url = https://github.com/simorgh10/wildfire-tracker.git
[submodule "material-ui-react-tutorial"]
	path = material-ui-react-tutorial
	url = https://github.com/simorgh10/material-ui-react-tutorial.git
